doctype html
html(lang='en')
  head
    include header_with_tables.pug
    title Current Claims
  body
    #wrapper
      // Navigation
      include navbar.pug
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Completed Claims
          // /.col-lg-12
        // /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                | Claims ready for bill
              // /.panel-heading
              .panel-body
                table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
                  thead
                    tr
                      th Selected
                      th Claim Number
                      th Claim Date
                      th OOE
                      th Sum Expenses
                      th File
                  tbody
                    each claim in claims
                      tr.odd.gradeA
                        td
                          input(type='checkbox')
                        td #{claim.claim_id}
                        td #{claim.claim_date}
                        td #{claim.ooe}
                        td #{claim.sum_expense}
                        td
                           button(type="submit",onclick="openInNewTab(" + "'" + claim.ipfs_location + "'" + ")") Show File
                button.btn.btn-primary(type='button', onclick="createBill();") Create bill
                // /.table-responsive
              // /.panel-body
            // /.panel
          // /.col-lg-12
        // /.row
      // /#page-wrapper
    // /#wrapper
    // jQuery
    include scripts_with_tables.pug
    script.
      function openInNewTab(ipfs_file_hash) {
      var ipfs_path = "https://ipfs.io/ipfs/" + ipfs_file_hash;
      var win = window.open(ipfs_path, '_blank');
      win.focus();
      };
    script.
      $(document).ready(function () {
      $('#dataTables-example').DataTable({
      responsive: true
      });
      });

script(src='../../js/claims.js')
