// jQuery
script(src='../../vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='../../vendor/bootstrap/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='../../vendor/metisMenu/metisMenu.min.js')
// Custom Theme JavaScript
script(src='../../dist/js/sb-admin-2.js')

link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

link(rel="stylesheet" href="/resources/demos/style.css")

script(src="https://code.jquery.com/jquery-1.12.4.js")

script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")