include default_scripts.pug
// DataTables JavaScript
script(src='../../vendor/datatables/js/jquery.dataTables.min.js')
script(src='../../vendor/datatables-plugins/dataTables.bootstrap.min.js')
script(src='../../vendor/datatables-responsive/dataTables.responsive.js')
